body{
    background-color: burlywood;
    font-family: "Oswald", sans-serif;
}

a {
    background-color: hsl(0, 0%, 12%); /*Para fazer quadradinho*/ 
    width: 300px;
    height: 60px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.links{
    margin-top: 5px;
}

p{
    font-size: medium;
    
}

a{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: blue;
}

a:hover{
    background-color: black;
    color: white;
}

a:active{
    background-color: green;
}

img{
    border-radius: 100%;
}